## 1. 데이터 준비와 전처리

In [24]:
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [25]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [26]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [27]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [28]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [29]:
# string, 소문자로 바꿔준다.
movies['title'] = movies['title'].str.lower()
movies.tail(10)

      movie_id                       title                           genre
3873      3943           bamboozled (2000)                          Comedy
3874      3944              bootmen (2000)                    Comedy|Drama
3875      3945   digimon: the movie (2000)  Adventure|Animation|Children's
3876      3946           get carter (2000)           Action|Drama|Thriller
3877      3947           get carter (1971)                        Thriller
3878      3948     meet the parents (2000)                          Comedy
3879      3949  requiem for a dream (2000)                           Drama
3880      3950            tigerland (2000)                           Drama
3881      3951     two family house (2000)                           Drama
3882      3952       contender, the (2000)                  Drama|Thriller

In [30]:
#genre부문 없애주기
movies = movies.drop(columns='genre')

## 2. 분석해봅시다.

In [31]:
#ratings에 있는 유니크한 영화 개수
ratings['movie_id'].nunique()

3628

In [32]:
# ratings에 있는 유니크한 사용자 수
ratings['user_id'].nunique()

6039

In [33]:
# 가장 인기 있는 영화 30개(인기순)
movie_count = ratings.groupby('movie_id')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: user_id, dtype: int64

In [34]:
# 유저별 몇 개의 영화를 보고 있는지에 대한 통계
user_count = ratings.groupby('user_id')['movie_id'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [35]:
# moive_id column을 기준으로 두 데이터 프레임 합치기
data = pd.merge(ratings, movies, how='left', on='movie_id')
data.head()

,user_id,movie_id,counts,timestamp,title
0,1,1193,5,978300760,one flew over the cuckoo's nest (1975)
1,1,661,3,978302109,james and the giant peach (1996)
2,1,914,3,978301968,my fair lady (1964)
3,1,3408,4,978300275,erin brockovich (2000)
4,1,2355,5,978824291,"bug's life, a (1998)"

In [36]:
# timestamp column제거
data = data.drop(columns='timestamp')
data.head()

   user_id  movie_id  counts                                   title
0        1      1193       5  one flew over the cuckoo's nest (1975)
1        1       661       3        james and the giant peach (1996)
2        1       914       3                     my fair lady (1964)
3        1      3408       4                  erin brockovich (2000)
4        1      2355       5                    bug's life, a (1998)

## 3. 내가 선호하는 영화 5가지 골라서 ratings에 추가해주기

In [37]:
# 내가 좋아하는 영화 추가
my_favorite = ['my fair lady (1964)' , 'sound of music, the (1965)' ,'titanic (1997)' ,'good will hunting (1997)' ,'shakespeare in love (1998)']

my_movielist = pd.DataFrame({'user_id': ['sohee']*5, 'title': my_favorite, 'counts':[5]*5})

if not data.isin({'user_id':['sohee']})['user_id'].any():  # user_id에 'sohee'이라는 데이터가 없다면
    data = data.append(my_movielist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

       user_id  movie_id  counts                              title
836473    6040    1090.0       3                     platoon (1986)
836474    6040    1094.0       5            crying game, the (1992)
836475    6040     562.0       5    welcome to the dollhouse (1995)
836476    6040    1096.0       4             sophie's choice (1982)
836477    6040    1097.0       4  e.t. the extra-terrestrial (1982)
0        sohee       NaN       5                my fair lady (1964)
1        sohee       NaN       5         sound of music, the (1965)
2        sohee       NaN       5                     titanic (1997)
3        sohee       NaN       5           good will hunting (1997)
4        sohee       NaN       5         shakespeare in love (1998)

### indexing하기

In [38]:
# 고유한 유저와 영화의 개수
user_unique = data['user_id'].unique()
movie_unique = data['title'].unique()

# 고유한 값의 개수만큼 유저 id와 영화 제목을 indexing
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [39]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = data['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

user_id column indexing OK!!
title column indexing OK!!

In [40]:
data

    user_id  movie_id  counts  title
0         0    1193.0       5      0
1         0     661.0       3      1
2         0     914.0       3      2
3         0    3408.0       4      3
4         0    2355.0       5      4
..      ...       ...     ...    ...
0      6039       NaN       5      2
1      6039       NaN       5     14
2      6039       NaN       5     27
3      6039       NaN       5    248
4      6039       NaN       5    126

[836483 rows x 4 columns]

## 4. CSR matrix 만들어 봅시다.

In [41]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_title = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.title)), shape= (num_user, num_title))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5. als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [42]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [43]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [45]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [46]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

## 6. 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [47]:
sohee, sound_of_music = user_to_idx['sohee'], movie_to_idx['sound of music, the (1965)']
sohee_vector, sound_of_music_vector = als_model.user_factors[sohee], als_model.item_factors[sound_of_music]

In [48]:
sohee_vector

array([-0.0407443 , -0.47038043, -0.319228  ,  0.7739264 , -0.6114146 ,
       -0.07843304,  0.22358757, -0.17424056, -0.06280997, -1.6536179 ,
       -0.8990993 ,  1.4982452 ,  0.17609742, -0.15680547,  0.17346899,
       -0.3160995 , -0.28575066,  0.5414212 , -0.39547384, -0.21760209,
       -0.5946166 , -0.38404295, -0.0584325 , -0.9007759 , -1.0149742 ,
        0.34196326, -0.36116695,  0.7891241 ,  0.39476773, -0.14183386,
        0.07633448,  0.65553707, -0.23906077,  0.23433994, -0.3450874 ,
       -0.23368844, -0.3502244 , -0.40163067,  0.44192648, -0.02517639,
       -1.2431955 , -0.273361  , -0.11338037,  0.21663466, -0.0663556 ,
       -0.34730393,  0.27337965,  0.18086238,  0.05731833,  0.41701505,
       -0.33876804,  0.58396196, -0.50262785,  0.81055945,  1.0147271 ,
        0.9553421 ,  0.824864  ,  0.21087486, -0.9396447 ,  0.18101841,
       -0.06395274, -0.4000018 ,  0.9120992 , -0.02251255,  0.20923497,
       -0.05462374, -0.12985861, -0.11255916,  0.23380128,  0.1930939 ,
        0.00218226,  0.67904305, -0.06754305, -0.16225296,  0.19185548,
       -0.1404003 , -0.32006463, -0.2113651 , -0.17981048,  0.00868579,
        1.2166717 ,  0.29337946,  0.36663496,  0.8351504 ,  0.31849423,
        0.5343743 ,  0.30745023,  0.34970206, -0.50984466,  0.68904835,
        0.0533715 ,  0.36649397,  0.4545562 ,  0.19662125,  0.09443009,
       -0.05681465, -0.20767649, -0.13714464, -0.3852187 , -1.2895756 ],
      dtype=float32)

In [49]:
sound_of_music_vector

array([-0.0049064 ,  0.01381234,  0.00102237,  0.01250201, -0.011949  ,
       -0.0072758 ,  0.02079958,  0.03141396,  0.02331093, -0.05394202,
        0.02000731,  0.00617657,  0.0158338 ,  0.03308121, -0.00690179,
        0.00393177,  0.01481263,  0.03375267,  0.00145358, -0.02101548,
       -0.0043182 ,  0.01584709, -0.03017683,  0.00603617, -0.00967421,
        0.00240028, -0.02284618,  0.02879436, -0.00467109, -0.00780432,
        0.00936163,  0.02766618, -0.01006295,  0.0088481 , -0.00148857,
       -0.00280698, -0.00057864, -0.00371974, -0.00788108,  0.00608694,
       -0.02124172, -0.01820607,  0.00626158, -0.00600246, -0.00446349,
        0.00272359,  0.02869349,  0.00815811, -0.00860122,  0.02696431,
        0.00639974,  0.02275073, -0.03427886,  0.01462727,  0.0016165 ,
        0.05048199,  0.03927407, -0.00818891, -0.00166542, -0.00545597,
        0.00420301,  0.00549571,  0.02469152,  0.0223841 , -0.02147356,
        0.00395082, -0.01268552,  0.014567  , -0.01321593, -0.00087739,
        0.02129129,  0.01132345, -0.00605589,  0.01890177,  0.02095232,
        0.01465271, -0.01719282,  0.00831464, -0.00065376,  0.01047661,
        0.02933621, -0.00810485,  0.02148784,  0.03693954,  0.00750147,
        0.04061215,  0.00300259,  0.01334458, -0.01099731,  0.01630044,
        0.00803424,  0.01686302, -0.00124603,  0.02841246, -0.00148045,
       -0.02385436, -0.0027388 ,  0.00990972,  0.00271174, -0.02083906],
      dtype=float32)

In [50]:
np.dot(sohee_vector, sound_of_music_vector)

0.5076943

In [73]:
#선호 리스트에 없는 영화 선호도 예측
platoon = movie_to_idx['platoon (1986)']
platoon_vector = als_model.item_factors[platoon]
np.dot(sohee_vector, platoon_vector)

0.022256348

## 7. 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [68]:
favorite_movie = 'sound of music, the (1965)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(14, 0.9999999),
 (354, 0.6414612),
 (1844, 0.63136166),
 (2, 0.6307245),
 (1355, 0.55556256),
 (45, 0.5466581),
 (1107, 0.48876166),
 (658, 0.48047954),
 (320, 0.4734753),
 (11, 0.46720663),
 (8, 0.4448823),
 (589, 0.43787366),
 (409, 0.43466222),
 (925, 0.43263352),
 (2106, 0.43057352)]

In [69]:
#movie_to_idx 를 뒤집어, index로부터 moive이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['sound of music, the (1965)',
 'west side story (1961)',
 'oliver! (1968)',
 'my fair lady (1964)',
 'king and i, the (1956)',
 'mary poppins (1964)',
 "rosemary's baby (1968)",
 'white christmas (1954)',
 'bob roberts (1992)',
 'gigi (1958)',
 'snow white and the seven dwarfs (1937)',
 'meet me in st. louis (1944)',
 'rudy (1993)',
 'fantastic voyage (1966)',
 'phantom of the opera, the (1943)']

In [70]:
def get_similar_movie(movie_title: str):
    movie_id = movie_to_idx[movie_title]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [71]:
get_similar_movie('sleepless in seattle (1993)')

['sleepless in seattle (1993)',
 'pretty woman (1990)',
 "you've got mail (1998)",
 "my best friend's wedding (1997)",
 'while you were sleeping (1995)',
 'notting hill (1999)',
 'sabrina (1995)',
 'truth about cats & dogs, the (1996)',
 'ghost (1990)',
 'mrs. doubtfire (1993)']

In [72]:
get_similar_movie('toy story (1995)')

['toy story (1995)',
 'toy story 2 (1999)',
 'babe (1995)',
 'aladdin (1992)',
 "bug's life, a (1998)",
 'groundhog day (1993)',
 'lion king, the (1994)',
 "there's something about mary (1998)",
 'beauty and the beast (1991)',
 'pleasantville (1998)']

## 8.  내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [66]:
user = user_to_idx['sohee']
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(354, 0.41348743),
 (38, 0.3149206),
 (384, 0.3146029),
 (143, 0.28562167),
 (663, 0.2736727),
 (99, 0.26170522),
 (381, 0.26125613),
 (39, 0.25552684),
 (41, 0.2513211),
 (450, 0.24738201),
 (1355, 0.24624705),
 (3, 0.23846376),
 (357, 0.23824587),
 (636, 0.23609667),
 (110, 0.23498814),
 (45, 0.21753728),
 (9, 0.21460737),
 (157, 0.21402735),
 (1844, 0.21343006),
 (385, 0.20254976)]

In [67]:
[idx_to_movie[i[0]] for i in movie_recommended]

['west side story (1961)',
 'sixth sense, the (1999)',
 'jerry maguire (1996)',
 'gone with the wind (1939)',
 "singin' in the rain (1952)",
 'american beauty (1999)',
 'elizabeth (1998)',
 'apollo 13 (1995)',
 'rain man (1988)',
 'life is beautiful (la vita è bella) (1997)',
 'king and i, the (1956)',
 'erin brockovich (2000)',
 'sense and sensibility (1995)',
 'romeo and juliet (1968)',
 'groundhog day (1993)',
 'mary poppins (1964)',
 'wizard of oz, the (1939)',
 'shawshank redemption, the (1994)',
 'oliver! (1968)',
 'truman show, the (1998)']

## 9. 회고록

1. 전체적인 흐름은 이전의 실습과 비슷하게 진행되어 큰 어려움은 없었다. 다만, csr_matrix라는 생소한 개념으로 인해 내용을 이해하는 것이 어려웠다. 그래도, 추천 시스템의 기본이 되는 개념이니 다시 한 번 복습해야겠다. 


2. 모델의 성능에 관해서는 선호도 리스트에 있는 영화와의 선호도는 0.507정도였고, 선호도 리스트에 없는 영화의 경우에는 0.022정도로 굉장히 차이가 많이 나서 성능이 꽤 괜찮은 것 같다. 


3. 비슷한 영화 추천에 있어서는 우선적으로 장르적 특성을 강하게 가진 영화를 favorite에 넣으면 굉장히 비슷한 영화를 추천해주었다. 고전 뮤지컬 영화인 사운드 오브 뮤직을 넣어주면 그와 비슷한 뮤지컬 영화들이, 애니메이션 영화인 토이스토리를 넣어주면 그와 비슷한 애니메이션들이 비슷한 영화로 추천되었다. 하지만 영화가 장르가 뚜렷하지 않을 때에는 비슷한 영화라고 하기엔 어려운 영화들도 종종 뜨는 것을 확인할 수 있었다. 


4. 내가 좋아할 만한 영화에는 꽤나 정확하게 보고싶은 영화들의 리스트를 반환하였다.


5. 이번 프로젝트를 진행하면서 추천시스템에 대한 공부를 해보고 싶어졌다.